<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница ситха</title>
</head>
<body>
<ul>
    {% for recruit in recruits %}
        Имя рекрута: {{ recruit.name }}
        <ol>
            {% for answer in recruit.answer.all %}
                <li>
                    {{ answer.question.text }}
                    {{ answer.text }}
                </li>
            {% endfor %}
        </ol>
        <a href="{% url "main:make_hand_of_shadow" recruit.id sith_id %}">Зачислить к себе рукой тени</a><br>
        <hr>
    {% endfor %}
</ul>
</body>
</html>
